# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\program\workplace\easycodessm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
